* {
  box-sizing: border-box;
}

html,
body {
  margin: 5px;
  background-color: rgb(199, 199, 199);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

nav {
  width: 100%;
  background-color: rgb(56, 56, 56);
}

nav a {
  display: block;
  text-align: center;
  padding: 10px;
  color: white;
  text-decoration: none;
  padding: 15px;
}

nav a:hover {
  background-color: gray;
  color: black;
}

main {
  display: flex;
  width: 100%;
}

main > section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 14px 0px 0px 0px;
}

.img {
  background-color: rgb(143, 143, 143);
  width: 95%;
  height: 200px;
  padding: 1px 15px;
}

.section1 {
  background-color: rgb(255, 255, 255);
  padding: 25px;
}

.section2 {
  background-color: rgb(255, 255, 255);
  margin: 15px 0px;
  padding: 25px;
}

aside {
  width: 20%;
  margin: 0px 0px 0px 14px;
}
.about {
  background-color: rgb(255, 255, 255);
  padding: 5px 15px;
  height: auto;
  margin: 14px 0px 0px 0px;
}

.imagen {
  background-color: rgb(143, 143, 143);
  height: 150px;
  padding: 5px 15px;
}

.popular {
  background-color: rgb(255, 255, 255);
  height: auto;
  padding: 5px 15px;
  margin: 15px 0px 0px 0px;
}

.imagen3 {
  background-color: rgb(143, 143, 143);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px 15px;
  height: 250px;
}

.follow {
  background-color: rgb(255, 255, 255);
  height: auto;
  padding: 5px 15px;
  margin: 15px 0px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(170, 170, 170);
  height: 150px;
}

@media screen and (min-width: 768px) {
  nav a {
    display: inline-block;
  }
  nav a:last-child {
    float: right;
  }
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    width: 100%;
  }

  aside {
    width: 100%;
    margin: 0px;
  }

  main > section {
    width: 100%;
  }
}
